Lenguaje de marcas/3ºEVA/XSD/ej3 ref.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="agenda">
    <xs:complexType>
    <xs:sequence>
        <xs:element ref="direccion"></xs:element>
    </xs:sequence>
    </xs:complexType>
</xs:element>   
<xs:element name="direccion">
    <xs:complexType>
            <xs:sequence>
                <xs:element name="calle" type="xs:string"/>
                <xs:element name="numero" type="xs:integer"/>   
                <xs:element name = "localidad" type="xs:string"/>
                <xs:element name = "piso" type = "xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>