Lenguaje de marcas/3ºEVA/XSD/tarea1b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="autor" type="xs:string" maxOccurs="5" />
        <xs:element name="editorial" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="precio" type="xs:double" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>